# Google AI API Key
GOOGLE_AI_API_KEY=
NEXT_PUBLIC_GOOGLE_VERIFICATION=
NEXT_PUBLIC_GOOGLE_ANALYTICS_VERIFICATION=
ML_SERVICE_URL=http://localhost:8000
NODE_ENV=development
NEXT_PUBLIC_GOOGLE_ADSENSE=
DATABASE_URL=mysql://root:root@localhost:3306/kurban_ai
SHOPIER_API_KEY=
SHOPIER_API_SECRET=
SHOPIER_PAYMENT_URL=https://www.shopier.com/ShowProduct/api_pay4.php
SHOPIER_WEBSITE_INDEX=1
